@import 'vendor/burger';

@import 'base/variables';
@import 'base/base';

@import 'atoms/typography';
@import 'atoms/lists';
@import 'atoms/buttons';

@import 'molecues/logo';

@import 'organisms/header';

*{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
}

.leaderboard{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 450px;
  background-color: rgba(224, 255, 255, 0.5);
  user-select: none;
  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  td, th{
    padding: 0 10px;
    border: 1px solid lightseagreen;
    line-height: 2;
    &.name{
      font-weight: bold;
      width: 40%;
    }
  }
}
.nippleContainer {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%
}
#directionManager {
  left: 00%
}
#angleManager {
  left: 50%;
  height: 50%;
}
#angleAndShotManager {
  left: 50%;
  height: 50%;
  top: 50%;
}
