//@import 'base/variables';
//@import 'base/base';
@font-face {
  font-family: '8bit';
  src: url('../fonts/8bitcyrillic.ttf') format('truetype')
}

*{
  //font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-family: '8bit';
  font-size: 18pt;
}

.leaderboard{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  user-select: none;
  table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  }
  td, th{
    padding: 0 5px;
    border: 2px solid black;
    line-height: 1.2;
    width: 50px;
    &.name{
      text-align: left;
      font-weight: bold;
      width: 200px;
    }
  }
}
.weaponry{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  padding: 0px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 1;
  *{
    margin: 5px;
  }
  h2 {
    font-size: 20pt;
  }
  p {
    font-size: 16pt;
  }
  border: 2px solid black;
  user-select: none;
}
.nippleContainer {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
}
#directionManager {
  left: 00%
}
#angleManager {
  left: 50%;
  height: 50%;
}
#angleAndShotManager {
  left: 50%;
  height: 50%;
  top: 50%;
}
